<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Sistema_de_Gestion_Tecnica.My.MySettings.SIGTConnectionString" connectionString="Data Source=TESTFIXTURE700\SQLEXPRESS;Initial Catalog=SIGT;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Sistema_de_Gestion_Tecnica.My.MySettings.SIGTConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SIGT.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
    <add name="Sistema_de_Gestion_Tecnica.My.MySettings.ClientSIGTConnectionString" connectionString="Data Source=|DataDirectory|\SIGT.sdf;Max Database Size=2047" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    <add name="SIGTEntities" connectionString="metadata=res://*/Reportes.Model1.csdl|res://*/Reportes.Model1.ssdl|res://*/Reportes.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SIGT.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="Sistema_de_Gestion_Tecnica.My.MySettings.TesterSIGTConnectionString" connectionString="Data Source=TESTER\SQLEXPRESS;Initial Catalog=TesterSIGT;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
    <add name="Sistema_de_Gestion_Tecnica.My.MySettings.SIGTConnectionString1" connectionString="Data Source=TESTER\SQLEXPRESS;Initial Catalog=SIGT;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
